.image {
  position: relative;
  aspect-ratio: 4/5;
  display: grid;
  place-content: center;
  text-align: center;
  background: #f6f2ec;
}

.favorite {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 50%;
}
